form{
    background-color: #52d9ffb5;
    border-radius: 50px;
}

button{
    box-shadow: 0px 2px 13px #0f00ff;
    background-color: #0f00ff;
    border-color: #0f00ff;
    color: white;
}

ul{
    background-color: #feff26;
    border-radius: 20px;
}